extends layout 

block body
  main 
    each type in typesOfFoods
      h1= type
      div.conteiner  
        if categorizedFoods[type]
          each food in categorizedFoods[type]
            div.food 
              h2= food
          
