extends layout 

block body
  main 
    each type in typesOfFoods
      div.conteiner  
        h1= type
        if categorizedFoods[type]
          each food in categorizedFoods[type]
            div.food 
              p= food
          
