extends layout 

block body
  main 
   div
     h1= JSON.stringify(typesOfFoods)
     p= JSON.stringify(categorizedFoods)

    each type in typesOfFoods
      div.conteiner  
        h1= type
        if categorizedFoods[type]
          each food in categorizedFoods[type]
            div.food 
              p= food
          
