extends layout 

block body
  main 
   each type in typesFoods
      div.conteiner  
        h1= type
        if foods[type]
          each food in foods[type]
            div.food 
              p= food
          
