extends layout 

block body
  nav  
    a(href="/") Início 
    a(href="/menu") Cardápio
    div.user-info 
      img(src="/images/login.png")
  main 
    h1.title Cardápio
    each type in typesOfFoods
      h1= type
      div.conteiner  
        if categorizedFoods[type]
          each food in categorizedFoods[type]
            div.food 
              h2= food
          
