/* to setup aniamtions with keyframes */

/* === INITIAL PAGE ANIMS CONFIG === */

@keyframes background-anim{
  0%{
    background-position: 100% 50%;
  }

   50%{
       background-position: 0% 50%;
   }

   100%{
   background-position: 100% 50%;
  }
}

@keyframes move-div{
  from{
    transform: translateX(0px);
  }

  to{
    transform: translateX(var(--amount-move));
  }
}

@keyframes dimming-pos-arrow{
    from{
        background-color: var(--arrow-pos);
    }

    to{
        background-color: rgb(0 0 0/ 0.6);
    }
}