/* attachs animations to specif elements with selectors and animation propierty */

html.initial-page {
  animation-name: background-anim;
  animation-duration: 12s;
  animation-timing-function: ease;
  animation-iteration-count: 1; /* Executar duas vezes */
}

img[src*="arrow"]:hover{
    animation-name: dimming-pos-arrow;
    animation-delay: 0.2s;
    animation-duration: 3s;
}

html.auth button:hover{
    animation-name: btn-auth;
    animation-delay: 0.2s;
    animation-duration: 4s;
}

button.accept-end-session:hover{
    animation-name: accept-btn-signout-active;
    animation-delay: 0.1s;
    animation-duration: 2.5s;
}

button.recuse-end-session:hover{
    animation-name: recuse-btn-signout-active;
    animation-delay: 0.1s;
    animation-duration: 2.5s;
}