/* attachs animations to specif elements with selectors and animation propierty */

img[src*="arrow"]:hover{
    animation-name: dimming-pos-arrow;
    animation-delay: 0.2s;
    animation-duration: 3s;
}