/* map an color to an specifi element (by an var css) */

/*     === NAV STYLES ===    */

:root{
    --nav-bar: color-mix(in oklab, burlywood 65%, white);
    --nav-opt: color-mix(in oklab, burlywood 40%, black);
}

:root{
    --arrow-pos: transparent;
    --section-offer: yellow;
    --section-food-suggestion: red;
}

/*     === FOOTER STYLES ===    */

:root{
    --footer: saddlebrown;
}

/*     === GENERAL STYLES ===    */

:root {
   --background-page: color-mix(in oklab, darkorange 90% ,white);
}

:root {
   --button: red;
}

/*     === AUTH STYLES ===    */

:root{
    --btn-auth: color-mix(in oklab, blue 60%, white 40%);
    --btn-accept-signout: greenyellow;
    --btn-recuse-signout: red;
}