/* attach the color of element by the selector */

/*     === NAV STYLES ===    */

nav{
    background-color: var(--nav-bar);
}

/*     === MAIN STYLES ===    */

article.offer div{
    background-image: linear-gradient(160deg, var(--section-offer), var(--section-food-suggestion) 80%);
}

article.food-suggestions div{
    background-image: linear-gradient(200deg, var(--section-food-suggestion) 55%, black 80%);
}

img[src*="arrow"]{
    background-color: var(--arrow-pos);
}

button.accept-end-session{
    background-color: greenyellow;
}
button.recuse-end-session{
    background-color: red;
}

/*     === FOOTER STYLES ===    */

footer{
    background-image: linear-gradient(180deg, black 30%, gray);
}

/*     === GENRAL STYLES ===    */

button{
    background-color: var(--button);
}

* {
    color: white;
}