/* attach the color of element by the selector */

/*     === NAV STYLES ===    */

nav{
    background-color: var(--nav-bar);
}

/*     === STYLES TO INDEX PAGE ===    */

/*     === MAIN STYLES ===    */

article.offer div{
    background-image: linear-gradient(172deg, var(--section-offer) 70%, var(--section-food-suggestion));
}

article.food-suggestions div{
    background-image: linear-gradient(183deg, var(--section-food-suggestion) 80%, var(--footer) );
}

img[src*="arrow"]{
    background-color: var(--arrow-pos);
}

/*     === FOOTER STYLES ===    */

footer{
    background-image: linear-gradient(180deg, var(--footer) 70%, gray);
}

/*     === GENRAL STYLES ===    */

html.initial-page{
    --whiteness-background: color-mix(in oklab, var(--background-page), white 90%);
    background-image: linear-gradient(45deg, black, var(--background-page));
    background-size: 300% 300%;
    background-position: 100% 50%;
}

html.initial-page button{
    background-color: var(--button);
}

/*     === STYLES TO AUTH===    */

/*     === MAIN STYLES ===    */

html.auth main{
    background-image: linear-gradient(160deg, skyblue 45%, crimson);
}

html.auth button{
    background-color: var(--btn-auth);
}

main.signout-form{
    background-image: linear-gradient(160deg, skyblue 50%, crimson);
}


button.accept-end-session{
    background-color: greenyellow;
}
button.recuse-end-session{
    background-color: red;
}

/*     === FOOTER STYLES ===    */

/*     === STYLES TO MENU ===    */

/*     === MAIN STYLES ===    */

html.menu-page div.conteiner div.food {
  position: relative;
  background-color: color-mix(in oklab, burlywood 70%, white); /* Cor inicial (80%) */
  overflow: hidden;

  /* Adicione um pseudo-elemento para os 20% finais */
}
html.menu-page div.conteiner div.food::after {
  content: "";
  position: absolute;
  top: 75%; /* Posição onde a segunda cor começa (80%) */
  left: 0;
  width: 100%;
  height: 25%; /* Altura correspondente aos 20% finais */
  background-color: white; /* Cor final (20%) */
}
