/*           ====  NAV STYLES  ====              */

nav{
    width: 100%;
    height: 9vh;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;

    background-image: url("images/logo.svg");
    background-size: 10% 110%;
    background-position: left 2vh top;
    background-repeat: no-repeat;
    background-color: darkblue;
}

nav > *{
    margin-inline-start: calc(2vh + 10%);
}

/*           ====  MAIN STYLES  ====              */

article.offer{
    height:80vh;
    overflow: hidden;
}

article.offer div{
    width: 100%;
    height: 100%;
    background-size: cover;
}

article.offer div > img[src="./images/arrow-left.png"]{
    position: relative;
    bottom: 50%;
    left: 0;
}

article.offer div > img[src="./images/arrow-right.png"]{
    position: relative;
    bottom: 50%;
    right: 0;
}

/* steak duplo  */
article.offer div.offer-66743a2fed8e8915e1052771 {
    background-image: url("./images/double-steak.png");
}

/* sundae */
article.offer div.offer-66743adbed8e8915e1052772 {
    background-image: url("./images/sundae.png");
}

/* balde de batatas */
article.offer div.offer-66743b07ed8e8915e1052773 {
    background-image: url("./images/bucket-potatoes.png");
}

article.offer div button{
    height: 10%;
    width: 30%;
    position: relative;
    left: 50%;
    bottom: calc(10% + 2vh);
}

article.food-suggestions{
    height:80vh;
    overflow: hidden;
}

article.food-suggestions div{
    width: 100%;
    height: 100%;
    background-size: cover;
}

article.food-suggestions div > img[src="./images/arrow-left.png"]{
    position: relative;
    bottom: 50%;
    left: 0;
}

article.food-suggestions div > img[src="./images/arrow-right.png"]{
    position: relative;
    bottom: 50%;
    right: 0;
}

article.food-suggestions div.food-suggestion-steak {
    background-image: url("./images/steak.png");
}

article.food-suggestions div.food-suggestion-dessert {
    background-image: url("./images/dessert.png");
}

article.food-suggestions div.food-suggestion-side-dish {
    background-image: url("./images/side-dish.png");
}

article.food-suggestions div button{
    height: 10%;
    width: 30%;
    position: relative;
    left: 50%;
    bottom: calc(10% + 2vh);
}

/*           ====  FOOTER STYLES  ====         */