/* 
  Define styles by characters how color, size and weight
*/

/*           ====  NAV STYLES  ====              */

nav a{
    text-decoration: none;
    color: black;
}

/*            ====  MAIN STYLES  ====              */

html.auth label{
  font-size: 18px;
}

html.auth input{
  font-size: 15px;
}

html.auth button{
  font-size: 18px;
}

/*           ====  FOOTER STYLES  ====         */

