/* 
  Define styles by characters how color, size and weight
*/

/*           ====  NAV STYLES  ====              */

nav a{
    font-size: 18px;
    text-decoration: none;
    color: var(--nav-opt);
}

/*            ====  MAIN STYLES  ====              */

html.initial-page {
    color: white;
}

html.auth label{
  font-size: 18px;
}

html.auth input{
  font-size: 15px;
}

html.auth button{
  font-size: 18px;
}

/*           ====  STYLES OF MENU  ====         */

/*           ====  MAIN STYLES  ====         */

html.menu-page h1.title{
  font-size: 3.5rem;
}