/* Set position, scale and url background images (elements basic definitions) by
   an element using selectors
*/

/*           ====  NAV STYLES  ====              */

nav{
    width: 100%;
    height: 9vh;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
    justify-content: center;
    align-items: center;

    background-image: url("images/logo.svg");
    background-size: 64px 64px;
    background-position: left 2vh top;
    background-repeat: no-repeat;
}

nav > a:not(:first-child){
    margin-inline-start: 10px;
}

nav div.user-info{
    position: absolute;
    right: 15px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border: 3px solid black;
    border-radius: 20px;
}

img[src*="user"]{
    width: 40px;
    height: 40px;
}

/*           ====  MAIN STYLES  ====              */


body{
    position: relative;
    top: 10vh;
}

img[src*="arrow"]{
    border-radius: 30px;
    padding: 10px;
}

img[src$="arrow-left.png"]{
    position: absolute;
    bottom: 50%;
    left: 0px;
}

img[src$="arrow-right.png"]{
    position: absolute;
    bottom: 50%;
    right: 0px;
}

html.initial-page button{
    height: 10%;
    width: clamp(200px, 30%, 30px);
    position: absolute;
    left: clamp(calc((100% - 200px) / 2),35%,calc((100% - 230px) / 2));
    bottom: calc((13.5% - 10%)/ 2); /* eq = ((space between bottom img and div - button height) / space of corners) */
    border: 2px solid darkslateblue;
    border-radius: 15px;
}

article{
    margin: 20px;
}

article.offer{
    height:80vh;
    width: 90vw;
    overflow: hidden;
    position: relative;
    left: calc((10vw - 40px) / 2);
    border-radius: 30px;
}

div[class^="offer"]{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
}

div[class^="offer"]:nth-child(1){
    left: -100%;
}

div[class^="offer"]:nth-child(3){
    right: -100%;
}

img.offer{
    width: 85%;
    height: 85%;
    position: relative;
    top: 1.5%;
    left: 7.5%;
}

article.food-suggestions{
    height:80vh;
    width: 90vw;
    overflow: hidden;
    position: relative;
    left: calc((10vw - 40px) / 2);
    border-radius: 30px;
}

img.suggestion{
    width: 85%;
    height: 85%;
    position: relative;
    top: 1.5%;
    left: 7.5%;
}

div[class^="food-suggestion"]{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
}

div[class^="food-suggestion"]:nth-child(1){
    left: -110%;
}

div[class^="food-suggestion"]:nth-child(3){
    right: -110%;
}

/*           ====  FOOTER STYLES  ====         */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.logo{
    width: 64px;
    height: 64px;
    left: calc(50% - 64px);
    background-image: url("./images/logo.svg");
    background-size: 64px 64px;
    background-repeat: no-repeat;
}

div.user-politics{
    left: calc(50%);
}

div.hr-conteiner{
    width: calc(100% - 40px);
    height: 16px;
}

div.share{
    display: flex;
    justify-content: space-between;
}

a.share{
  width: 80px;
}

a.share img[src*="logo"]{
  width: 64px;
  height: 64px;
}

div#images-rights{
    left: calc(50%);
}

/*           ====  STYLES OF AUTH  ====         */

/*           ====  MAIN STYLES  ====         */

html.auth main{
  height: 80vh;
  width: 65vw;
  position: relative;
  top: 2vh;
  left: 17.5vw;
  border: 4px solid black;
  border-radius: 30px;
}

html.auth button{
    border: 2px solid black;
    border-radius: 30px;
}

html.auth div{
  width: 100%;
  display: flex;
  justify-content: center;
}

html.auth h1{
    position: relative;
    left: 12.5%;
}
