/* Set position, scale and url background images (elements basic definitions) by
   an element using selectors
*/

/*           ====  GENERAL STYLES  ====              */

/*           ====  NAV STYLES  ====              */

nav{
    width: 100%;
    height: 9vh;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 10;
    justify-content: center;
    align-items: center;

    background-image: url("/images/logo.png");
    background-size: 48px 48px;
    background-position: left 2vh top calc((9vh - 48px) / 2);
    background-repeat: no-repeat;
}

nav > a:not(:first-child){
    margin-inline-start: 10px;
}

nav div.user-info{
    position: absolute;
    right: 15px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border: 3px solid black;
    border-radius: 20px;
}

img[src*="user"]{
    width: 40px;
    height: 40px;
}

/*           ====  STYLES OF INDEX  ====              */
      
/*           ====  MAIN STYLES  ====              */


html.initial-page body{
    position: relative;
    top: 10vh;
}

img[src*="arrow"]{
    border-radius: 30px;
    padding: 10px;
}

img[src$="arrow-left.png"]{
    position: absolute;
    bottom: 50%;
    left: 0px;
}

img[src$="arrow-right.png"]{
    position: absolute;
    bottom: 50%;
    right: 0px;
}

html.initial-page button{
    height: 10%;
    width: clamp(200px, 30%, 30px);
    position: absolute;
    left: clamp(calc((100% - 200px) / 2),35%,calc((100% - 230px) / 2));
    bottom: calc((13.5% - 10%)/ 2); /* eq = ((space between bottom img and div - button height) / space of corners) */
    border: 2px solid darkslateblue;
    border-radius: 15px;
}

article{
    margin: 20px;
}

article.offer{
    height:80vh;
    width: 90vw;
    overflow: hidden;
    position: relative;
    left: calc((10vw - 40px) / 2);
    border: 3px solid black;
    border-radius: 30px;
}

div[class^="offer"]{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
}

div[class^="offer"]:nth-child(1){
    left: -100%;
}

div[class^="offer"]:nth-child(3){
    right: -100%;
}

/*
   Algorithm to calc responsive width and height:
    add a size to the bigger side  = x
    get the proportion between the bigger and smallest size=>
    k = y / x where x is the original bigger side of image and y of the smallest
    add size to the smallest size in css, equal to = k * x
*/
iframe.offer{
    position: relative;
}

article.food-suggestions{
    height:80vh;
    width: 90vw;
    overflow: hidden;
    position: relative;
    left: calc((10vw - 40px) / 2);
    border: 3px solid black;
    border-radius: 30px;
}

iframe.suggestion{
    position: relative; 
}

div[class^="food-suggestion"]{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
}

div[class^="food-suggestion"]:nth-child(1){
    left: -110%;
}

div[class^="food-suggestion"]:nth-child(3){
    right: -110%;
}

/*           ====  FOOTER STYLES  ====         */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.logo{
    width: 64px;
    height: 64px;
    left: calc(50% - 64px);
    background-image: url("./images/logo.svg");
    background-size: 64px 64px;
    background-repeat: no-repeat;
}

div.user-politics{
    left: calc(50%);
}

div.hr-conteiner{
    width: calc(100% - 40px);
    height: 16px;
}

div.share{
    display: flex;
    justify-content: space-between;
}

a.share{
  width: 80px;
}

a.share img[src*="logo"]{
  width: 64px;
  height: 64px;
}

div#images-rights{
    left: calc(50%);
}

/*           ======  STYLES OF AUTH  ======         */

/*           ====  MAIN STYLES  ====         */

html.auth{
    background-image: url('./images/sunset.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

html.signout{
    background-image: url('./images/sunset.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

html.auth main{
  height: 80vh;
  width: 65vw;
  max-width: 525px;
  position: relative;
  top: 2vh;
  left: clamp(calc((100% - 525px) / 2) ,17.5vw, 90px);
  border: 4px solid black;
  border-radius: 30px;
}

html.auth form{
    position: relative;
    top: 9vh;
}

html.auth input{
    height: 6vh;
    border-radius: 30px;
}

html.auth button{
    border: 2px solid black;
    border-radius: 30px;
    width: 50%;
    max-width: 282px;
    min-width: 25px;
    height: 7vh;
    position: relative;
    left: calc((100% - 252px) / 2);
}

html.auth div{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block-end: 20px;  
}

html.auth label{
    margin-block-end: 10px;
}

html.auth h1{
    position: relative;
    left: 12%;
}

main.signout-form{
  height: 60vh;
  width: 65vw;
  max-width: 427px;
  position: relative;
  top: 9vh;
  left: calc((100% - 427px) / 2);
  border: 4px solid black;
  border-radius: 30px;
}

main.signout-form div{
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
}

main.signout-form h1{
  position: relative;
  left: 4vw;
}

main.signout-form form{
  width: 20%;
  margin-inline-start: 20px;
}

main.signout-form button{
  width: 100%;
  max-width: 670px;
  height: 6vh;
  border-radius: 30px;
}

/*           ======  STYLES OF MENU  ======         */

/*           ====  MAIN STYLES  ====         */

html.menu-page main{
    position: relative;
    top: 9vh;
}

html.menu-page div.conteiner {
  display: grid;
  width: 90vw;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  grid-auto-rows: minmax(170px, 1fr);
  gap: 20px;
  /* height: 58vh; */
  position: relative;
  left: calc((100% - 90vw) / 2);
  justify-content: center;
  margin-block-end: 15px;
}
 
/* Remova a definição de altura fixa (height) para permitir que as linhas se redimensionem */
/* html.menu-page div.conteiner {
  height: 58vh;
} */

html.menu-page div.conteiner div.food {
    position: relative;
  border: 3px solid black;
  border-radius: 30px;
}

html.menu-page div.conteiner div.food h2 {
  /* Remova a posição relativa (top: 91%) para que os itens se ajustem automaticamente */
  position: absolute;
  top: 75%;
   left: 20%;
  z-index: 1;
}
